@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAuenrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAPAAAAH4AAAD/AAAB/4AAA/+AAAf/AAAP/gAAH/wAAD/4AAB/8AAA/+AAAf/AAAP/gAAH/wAAD/4AAB/8AAA/+AAAP/AAAD/gAAA/wAAAP4AAAD8AAAA//////////////////////////////////////////////////+f////D////gf///wD///4Af//8AH//+AD///AB///gA///wAf//4AP//8AH//+AD///AB///gA///wAf//4AP//8AH///AD///wB///8A////Af///wP///8='), auto; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Chakra Petch;
  transition : filter 500ms linear;
  -webkit-transition : -webkit-filter 500ms linear;
}
.stroke{
  position: absolute;
  pointer-events: none;
  width:20px;
  height:20px;
  transform: translate(-50%,-50%);
  background: black;
  border-radius: 50%;
  visibility: hidden;
  transition: visibility 0.2s ease-in-out;
}
.dark {
  filter:invert(1);
  -webkit-filter: invert(1);
}

.whiteboard {
  width: 100%;
  height: 100%;
}

.toolbox {
  position: absolute;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}


.tooltip {
  font-family: Chakra Petch;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 5px 10px;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;
  opacity: 0;
}



.icon:hover {
  transform: scale(1.2);
}
.icon:hover .tooltip{
  opacity: 1;
  transform: translate(-50%, -150%);
}

.active {
  border-radius: 4px;
  background: rgb(240, 240, 240);
}


.slide-out{
  transform: translate(-50%, 100%);
  
}

.color-picker {
  color: black;
}

input{
  border: none;
  border-radius: 50px;
  height: 35px;
  width: 35px;
}